.background-content {
	background-image: url(../../img/image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	max-height: 914px;
	overflow: hidden;
}

.me {
	position: relative;
	border-radius: 40%;
	border: 8px solid white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 20rem;
	width: 20rem;
	margin-top: 5rem;
}

.fa-facebook,
.fa-github,
.fa-whatsapp,
.fa-linkedin {
	color: white;
	font-size: 2rem;
	margin: 10px;
}

.fa-facebook:hover,
.fa-github:hover,
.fa-whatsapp:hover,
.fa-linkedin:hover {
	color: white;
	font-size: 2rem;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 0 0 20px;
}

.button-icon {
	padding: 100%;
}
